{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Mes ingrédients</h1>

        <table>
            <thead>
                <tr>
                    <th class="col">Numéro</th>
                    <th class="col">Nom</th>
                    <th class="col">Prix</th>
                    <th class="col">Date de création</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-primary">
                        <th>{{ ingredient.id }}</th>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.price }}</td>
                        <td>{{ ingredient.createdAt|date("d-m-Y") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
